<html lang="ru">
<body>
<div>
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        <input type="submit" value="Sign Out"/>
    </form>
</div>
<div>
    <form method="post">
        <input type="text" name="name" placeholder="name">
        <input type="number" name="id" placeholder="id">
        <input type="text" name="password" placeholder="password">
        <input type="text" name="mail" placeholder="mail">
        <button type="submit">Добавить</button>
    </form>
</div>

{{#users}}
    <div>
        <span>{{name}}</span>
        <b>{{id}}</b>
        <span>{{mail}}</span>
        <span>{{password}}</span>
    </div>
{{/users}}
</body>
</html>